.w3-sidebar a {font-family: "Roboto", sans-serif
}

body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;
}

body {
    background-image: linear-gradient(rgb(204, 204, 204),rgb(77, 77, 77));
}

.livro {
    border-radius: 7px;
}

.livro:hover {
	cursor: pointer;
	transform: scale(1.05);	
}
